@using AppointmentSystem.Models
@model List<Patient>

@* <div class="container"> *@
<span class="text-small">Patient List></span>
    <hr style="border: 1px solid black;">
    <a asp-controller="Patient" asp-action="CreatePatient" class="btn btn-outline-primary mb-3">Create Patient</a>
    @* <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="card shadow-sm">*@
                <div class="card-body"> 
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var patient in Model)
                            {
                                <tr>
                                    <td>@patient.FullName</td>
                                    <td>@patient.Sex</td>
                                    <td>@patient.Address</td>
                                    <td>@patient.Phone</td>
                                    <td>@patient.Email</td>
                                    <td class="text-center">
                                        <a asp-action="PatientDetails" asp-route-id="@patient.PatientId" class="btn btn-info btn-sm">View</a>
                                        <a asp-action="UpdatePatient" asp-route-id="@patient.PatientId" class="btn btn-warning btn-sm ml-2">Edit</a>
                                        <a asp-action="DeletePatient" asp-route-id="@patient.PatientId" class="btn btn-danger btn-sm ml-2">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
    @*         </div>
        </div>
    </div> 
</div>*@
