<h2>Doctor DashBoard</h2>
<h4>Your Upcoming Appointments</h4>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Patient</th>
			@* <th>Sex</th> *@
			@* <th>Age</th> *@
			<th>Date</th>
			<th>Time</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var appointment in Model)
		{
			<tr>
				<td>@appointment.Patient?.FullName</td>
				<td>@appointment.AppointmentDate.ToShortDateString()</td>
				<td>@appointment.AppointmentTime.ToString(@"hh\:mm")</td>
				<td>@appointment.Status</td>
				<td>
					<a asp-controller="Appointment" asp-action="UpdateStatus" asp-route-id="@appointment.AppointmentId" class="btn btn-info btn-small">Update Status</a>
				</td>
			</tr>
		}
	</tbody>
</table>