@model List<AppointmentSystem.Models.Appointment>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />

<span class="text-small">Receptionist Dashboard></span>
<hr style="border: 1px solid black;">


<a asp-controller="Patient" asp-action="CreatePatient" class="btn btn-outline-primary mb-3">Create Patient</a>

<table class="table table-bordered table-striped" id="appointmentTable">
    <thead class="thead-dark">
        <tr>
            <th>Patient Name</th>
            <th>Sex</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Patient?.FullName</td>
                <td>@appointment.Patient?.Sex</td>
                <td>Dr. @appointment.Doctor?.FullName</td>
                <td>@appointment.AppointmentDate.ToString("yyyy-MM-dd")</td>
                <td>@appointment.AppointmentTime.ToString(@"hh\:mm")</td>
                <td>@appointment.Status</td>
                <td>@appointment.Notes</td>
                <td>
                    <a asp-controller="Appointment" asp-action="AppointmentDetails" asp-route-id="@appointment.AppointmentId" class="btn btn-sm btn-info">Info</a>
                    <a asp-controller="Appointment" asp-action="EditAppointment" asp-route-id="@appointment.AppointmentId" class="btn btn-sm btn-danger">Modify</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#appointmentTable').DataTable({
            pageLength: 20,
            lengthMenu: [[50, 100, 250], [50, 100, 250]],
            dom: 'Bfrtip',
            buttons: [
                'pageLength',
                { extend: 'print', text: 'Print Table' },
                { extend: 'excel', text: 'Export Excel' },
                { extend: 'pdf', text: 'Export PDF' }
            ]
        });

        // Custom filters
        $('#filterDate').on('keyup change', function () {
            table.column(4).search(this.value).draw();
        });
        $('#filterSex').on('change', function () {
            table.column(1).search(this.value).draw();
        });
        $('#filterDoctor').on('keyup change', function () {
            table.column(3).search(this.value).draw();
        });
        $('#filterStatus').on('change', function () {
            table.column(6).search(this.value).draw();
        });
    });
</script>
